body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

h1 {
    font-size: 2rem;
    margin-bottom: 100px;
    font-weight: bold;
    font-family: "Roboto Slab", sans-serif;
}

.player-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"], select {
    padding: 10px;
    width: 30%;
    margin: 0 10px;
}

button {
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    margin: 20px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
button:hover {
    background-color: #f1823c; 
}

.result-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.team-result {
    text-align: center; 
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.team-result h3, .team-result h4 {
    margin: 10px 0; 
    text-align: center;
}
.team-result .players-box {
    border: 2px solid black; 
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100px; 
}
.players-box p {
    margin: 5px 0; 
}

.vs {
    font-size: 2rem;
    font-weight: bold;
    color: red;
    align-self: center;
}
.vs-image {
    width: 185px;  
    height: auto;  
    margin: 0 20px; 
}
.subtitle {
    font-size: 0.8rem;  
    color: gray;        
    font-style: italic; 
    margin-top: -10px;  
}
.signature {
    position: fixed; 
    bottom: 10px; 
    left: 10px;
    font-size: 0.8rem; 
    color: gray; 
    font-style: italic; 
}
